h1{
  color:yellow;
  background-color:blue;
}

#mainPar{
  color:green;
}

.veg{
  color:green;
}

.meat{
  color:brown;
}

#box{
  background-color:yellow;
  width:200px;
  height:100px;
  padding:20px;
  border:2px solid black;
  margin:50px;
}

#box2{
  background-color:aqua;
  margin-left:20px;
  padding:0px 10px 30px 40px; 
}
